.task{
   width: 800px;
   margin: 10px 0;
   padding-left: 10px;
   background-color: rgba(160, 212, 39, 0.685);
   font-size: 18px;
}
.execute{
   text-decoration: line-through;
   background-color:rgba(255, 0, 0, 0.5);
}