.wrapper{
    max-zoom: 800px;
    width:100%;
    border:1px solid rgb(226, 190, 190);
    padding: 40px;
};

.display{
    width:50%;
    height: 20px;
    margin: 0 auto;
    border:1px solid black;
    border-radius: 10px;
    text-align: center;
    font-size:20px;

};

.buttonWrapper{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-top: 15px;
}

.red{
    background-color: rgba(255, 0, 0, 0.568);
}

.green{
    background-color: rgba(0, 128, 0, 0.555);
}